#title {
    text-align: center;
}

#storyBox div {
    margin-bottom: 5px;
}


/********* Story ************/
.story-details {
    font-size: 12px;
}

.story {
    padding: 4px;
}

.profile-pic {
    left: -29.37%;
    height: 28px;
    width: 28px;
}