
@main("Facebook Ticker Demo") {

    <div class="container">
        <div id="title" class="span12"><h3>This demonstrate long polling in Facebook Ticker</h3></div>

        <div id="slide-div" class="offset4 span5 well" style="height: 200px">
            Slidedown demo
        </div>
        <div id="storyBox" class="offset4 span5">
        </div>
    </div>

    <div id="story-hidden" style="display: none">
        <div class="story well well-small">
            <div class="story-content">
            <img src="/assets/images/profile.gif" class="profile-pic"/>
                <span class="story-details">
                    <b class="story-username">story.user.name</b>
                    <span class="story-body">story.body</span>
                </span>
            </div>
        </div>
    </div>

}